###### Requirements without Version Specifiers ######
meteostat
###### Requirements with Version Specifiers ######
Django==4.2.11
matplotlib==3.6.3
pandas==2.1.4
requests==2.31.0
requests-file==1.5.1
python-dotenv==1.0.1