{% extends "weather_app/layout.html" %}
{% load static %}

{% block body %}
<h2 id="page-title" >{{ title }}</h2>    

{% if error %}
    <div id = 'error-msg' class = 'alert alert-warning'>{{ error }}</div>
{% else %}    
    <div id = 'error-msg' class = 'alert alert-warning' style="display:none;";></div>    
{% endif %}

{% if page_name == 'current'%}
<div class ="p-1 my-1 bg-white text-dark">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div class="form-group">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Get Weather</button>
        </div>                           
    </form>
</div>    
{% endif %}

{% if weather_data %}
<div id="current-view" class ="p-1 my-1 bg-white text-dark border border-secondary">  
    <div class="period" style="padding:10px"> 
    <h3 >{{weather_data.name}}</h3>  
    <span class="fs-1">{{ weather_data.temperature }}°</span>
    <img src = "https://openweathermap.org/img/wn/{{weather_data.icon}}.png" style="vertical-align: bottom;">        
    <span class="fs-4" style='text-transform:capitalize;'>{{ weather_data.description }}</span>    
    <p class="fs-5 mb-0">Feels like {{weather_data.feels_like }}° </p>      
    <span class="fs-5">High: {{ weather_data.temp_min}}° </span>
    <span class="fs-5">Low: {{ weather_data.temp_max}}°</span>     
    </div>
     
    <div style="display:none;"><span id="city-lat">{{ lat }}</span><span id="city-lon">{{ lon }}</span></div>                    
    <ul class="fa-ul">        
        <li><div class="tooltip"><i class="fa-li fa fa-tint " aria-hidden="true"></i>
            {{weather_data.humidity}}%
            <span class="tooltiptext">Humidity</span>  </div>
        </li>
        <li><div class="tooltip"><i class="fa-li fa fa-location-arrow" aria-hidden="true"></i>                 
            {{weather_data.wind}} m/s - <span id="wind-deg">{{weather_data.wind_deg}}</span>
            <span class="tooltiptext">Wind speed / direction</span></div>
        </li>        
        <li><div class="tooltip"><i class="fa-li fa fa-cloud" aria-hidden="true"></i>
              {{weather_data.clouds}}%
            <span class="tooltiptext">Cloudiness</span></div>
        </li>        
        <li><div class="tooltip"><i class="fa-li fa fa-eye" aria-hidden="true"></i>              
            {{weather_data.visibility}} Km
            <span class="tooltiptext">Visibility, The maximum value is 10 km</span></div>
        </li>        
         <li><div class="tooltip"><i class="fa-li fa fa-umbrella" aria-hidden="true"></i>              
            {{weather_data.rain}} mm/h
            <span class="tooltiptext">Precipitation, mm/h</span></div>
        </li>   
        <li><div class="tooltip"><i class="fa-li fa fa-check" aria-hidden="true"></i>  
            {{weather_data.pressure}} hPa 
            (Ground Level: {{weather_data.grnd_level}})
            <span class="tooltiptext"> Atmospheric pressure on the sea level</span></div>
        </li>
    </ul>     
     

    <div class='p-2'>
        <span><i class="fa fa-sun-o m-2" aria-hidden="true"></i>Sunrise {{ weather_data.sunrise|date:"H:i" }}</span> 
        <span><i class="fa fa-moon-o m-2" aria-hidden="true"></i>Sunset {{ weather_data.sunset|time:"H:i"  }}</span>
        GMT {{ weather_data.timezone}}
    </div>    

    {% if page_name == 'cityweather'%}
    <div class="form-group">
        {% csrf_token %}
        <button type="submit" id='forecast-btn' class="btn btn-primary">5 Day Weather Forecast</button>
        <button type="submit" id='airpollution-btn' class="btn btn-secondary">Air Pollution</button>
        <button type="submit" id='monthly-weather-btn' class="btn btn-info">Weather History</button>
    </div> 
    {% endif %}    
</div>        
{% endif %}

<div id="airpollution-view" class="p-1 bg-white text-dark border border-secondary" style="display:none;"></div>

<div id="forecast-view" class="p-1 bg-white text-dark border border-secondary" style="display:none;"></div>

<div id="monthly-weather-view" class="p-1 bg-white text-dark border border-secondary" style="display:none;"></div>

{% if page_name == 'cityweather'  %}
{% block script %}
    <script src="{% static 'weather_app/forecast.js' %}"></script>
    <script src="{% static 'weather_app/air_pollution.js' %}"></script>
    <script src="{% static 'weather_app/weather_history.js' %}"></script>
{% endblock %}
{% endif %}
{% endblock %}
