{% extends "weather_app/layout.html" %}
{% load static %}

{% block body %}
<h2 id="page-title" >{{ title }}</h2>    

<div id = 'error-msg' class = 'alert alert-warning' style="display:none;"></div>
{% if error %}
    <div id = 'error-msg' class = 'alert alert-warning'>{{ error }}</div>
{% endif %}

<p id="current-geopos"></p>    

{% if page_name == 'current'%}
<div class ="p-1 my-1 bg-white text-dark">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div class="form-group">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Current Weather</button>
        </div>                           
    </form>
</div>    
{% endif %}

{% if avg_temp %}
    <p>Average Temperature: {{ avg_temp }}°C</p>
{% endif %}

{% if weather_data %}
<div id="current-view" class ="p-1 my-1 bg-white text-dark border border-secondary">  

    <h3 class="period" style="padding-left:10px">
        {{weather_data.name}}
        {{ weather_data.temperature }}°C 
        <span style='text-transform:capitalize;'>{{ weather_data.description }}</span>
        <img src = "https://openweathermap.org/img/wn/{{weather_data.icon}}.png">        

    </h3>  
     
    <div style="display:none;"><span id="city-lat">{{ lat }}</span><span id="city-lon">{{ lon }}</span></div>                
    
    <div class='p-2'>
        <span>Feels like: {{weather_data.feels_like }}°C </span>
        <span>Min. {{ weather_data.temp_min}}°C </span>
        <span>Max. {{ weather_data.temp_max}}°C</span>
    </div>

    <ul class="fa-ul">        
        <li><i class="fa-li fa fa-tint " aria-hidden="true"></i> Humidity: {{weather_data.humidity}}%</li>
        <li><i class="fa-li fa fa-location-arrow" aria-hidden="true"></i> 
        {{weather_data.wind}} m/s - <span id="wind-deg">{{weather_data.wind_deg}}</span>º <span id="wind-dir"></span>  
        </li>        

        <li><i class="fa-li fa fa-cloud" aria-hidden="true"></i>{{weather_data.clouds}}%</li>
        <li><i class="fa-li fa fa-eye" aria-hidden="true"></i>Visibility: {{weather_data.visibility}}Km</li>        
        <li><i class="fa-li fa fa-check" aria-hidden="true"></i> Pressure: {{weather_data.pressure}} hPa 
        (Sea Level: {{weather_data.sea_level}} -Grnd Level: {{weather_data.grnd_level}})
        </li>
    </ul>     
    <div class='p-2'>
        <span>Sunrise {{ weather_data.sunrise|date:"H:i" }}</span> 
        <span>Sunset {{ weather_data.sunset|time:"H:i"  }} GMT {{ weather_data.timezone}}</span>
    </div>    

    {% if page_name == 'cityweather'%}
    <div class="form-group">
        {% csrf_token %}
        <button type="submit" id='forecast-btn' class="btn btn-primary">5 Day Weather Forecast</button>
        <button type="submit" id='airpollution-btn' class="btn btn-secondary">Air Pollution</button>
        <button type="submit" id='monthly-weather-btn' class="btn btn-info">Weather History</button>
    </div> 
    {% endif %}    
</div>        
{% endif %}

<div id="airpollution-view" class="p-1 bg-white text-dark border border-secondary" style="display:none;"></div>

<div id="forecast-view" class="p-1 bg-white text-dark border border-secondary" style="display:none;"></div>

<div id="monthly-weather-view" class="p-1 bg-white text-dark border border-secondary" style="display:none;">
{% if graph %}
    <div id="current-view" class ="p-1 my-1 bg-white text-dark border border-secondary">  
        {{graph|safe}}
    </div>        
{% endif %}
</div>


{% if page_name == 'cityweather'  %}
{% block script %}
    <script src="{% static 'weather_app/forecast.js' %}"></script>
    <script src="{% static 'weather_app/air_pollution.js' %}"></script>
    <script src="{% static 'weather_app/weather_history.js' %}"></script>
{% endblock %}
{% endif %}
{% endblock %}
